<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party-Time</title>
    <link rel="stylesheet" href="styles.css">
    <!-- You can link to an external CSS file or include styles here -->
</head>
<body>
    <header>
        <h1>It's time to party!</h1>
        <nav>
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/guest_list">Guest List</a></li>                
                <li><a href="/form">Add a guest</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main>
      <h1>Party Time!</h1>
      <p>It's time to party! Here's some information.</p>
      <ul>
        <li> Date: xx.xx.xxxx </li>
        <li> Time: xx:xx </li>
        <li> Location: xxx </li>
      </ul>
      <p> Looking forward to seeing you there! </p>
        
    </main>

    <footer>
        <p>&copy; 2023 Sarah</p>
    </footer>
</body>
</html>

